<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://businesslmsmobile.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>businesslmsmobile</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$businesslmsmobile</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BusinessLMSContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:oxlrzsg2n8.database.windows.net,1433;Initial Catalog=BusinessLMS;User ID=businesslmsroot@oxlrzsg2n8;Password=Ibovirtual2020" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=BusinessLms;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BusinessLMSContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=BusinessLms;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BusinessLMSContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:oxlrzsg2n8.database.windows.net,1433;Initial Catalog=BusinessLMS;User ID=businesslmsroot@oxlrzsg2n8;Password=Ibovirtual2020</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>