
<div id="info-modal" title="Contact Followup" style="width:770px;height:550px;resize:none">
    
   <iframe src="http://prezi.com/embed/lb7mls_dw1-z/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=no&amp;autohide_ctrls=0" width="750" height="530"></iframe>
    
</div>