@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mercadeo en Red: Un negocio, una profecion o un estilo de vida</title>
</head>
<body>
    <div>
        Some Stuff In here
    </div>
</body>
</html>
