@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="title" style="margin-bottom:40px;">
    <h1>@ViewBag.Title.</h1>
</div>
<div id='calendar'></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/calendar")
    @Scripts.Render("~/Scripts/Calendar/Index.js")
}