<h2>Terms & Conditions</h2>
<div>
	<ul>
		<li>
			<h3>Pictures</h3>
			<p>
				Uploading pictures without the proper rights to use them is strictilly prohibited.
			</p>
		</li>
	</ul>
</div>
