
<h2>Terminos y Condiciones</h2>
<div>
	<ul>
		<li>
			<h3>Imagenes</h3>
			<p>
				Subir imagenes sin permiso del dueño o los derechos correspondientes queda extrcicatemente prohibido.
			</p>
		</li>
	</ul>
</div>
