@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="main-container">
    <div class="container1">
        <section class="contact">
            <h1>Phone</h1>
            <p>
                <span class="label">Main:</span>
                <span>559.859.7633</span>
            </p>
            <p>
                <span class="label">After Hours:</span>
                <span>559.859.7633</span>
            </p>
        </section>
        <br /><br />
        <section class="contact">
            <h1>Email</h1>
            <p>
                <span class="label">Support:</span>
                <span><a href="mailto:support@ibovirtual.com">support@ibovirtual.com</a></span>
            </p>
            <p>
                <span class="label">Marketing:</span>
                <span><a href="mailto:marketing@example.com">marketing@ibovirtual.com</a></span>
            </p>
            <p>
                <span class="label">General:</span>
                <span><a href="mailto:general@example.com">general@ibovirtual.com</a></span>
            </p>
        </section>
        <br /><br />
        <section class="contact">
            <h1>Address</h1>
            <p>
                3003 SW Troon Lane<br />
                Bentonville, AR 72712
            </p>
        </section>

    </div>
</div>