@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="main-container">
    <div class="container1">
        <section class="contact">
            <h1>@TextResources.BusinesslmsHome.PhoneText</h1>
            <p>
                <span>559.859.7633</span>
            </p>
        </section>
        <br /><br />
        <section class="contact">
            <h1>Email</h1>
            <p>
                <span><a href="mailto:support@ibovirtual.com">support@ibovirtual.com</a></span>
            </p>
        </section>
        <br /><br />
    </div>
</div>