@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="main-container">

	<div class="container1">
		
		<div id="mySlides">
			<div id="slide1">
				<a href="https://www.amway.com/about-amway/our-company" target="_blank">
					<img src="/images/Home/slider1.jpg" alt="Become a business owner" />
				</a>
			</div>
			<div id="slide2">
				<a href="https://www.amway.com/about-amway/whats-new" target="_blank">
					<img src="/images/Home/slider2.jpg" alt="Your success rewarded" />
				</a>
			</div>
			<div id="slide3">
				<a href="https://www.amway.com/about-amway/family-of-brands" target="_blank">
					<img src="/images/Home/slider3.jpg" alt="Exceptional products" />
				</a>
			</div>
			<div id="slide4">
				<a href="https://www.amway.com/about-amway/business-opportunity" target="_blank">
					<img src="/images/Home/slider4.jpg" alt="Low risk low cost" />
				</a>
			</div>
			<div id="slide5">
				<a href="https://www.amway.com/about-amway/citizenship/amway-one-by-onet" target="_blank">
					<img src="/images/Home/slider5.jpg" alt="Business support" />
				</a>
			</div>
		</div>

		<div id="myController">
			<span class="jFlowControl"></span>
			<span class="jFlowControl"></span>
			<span class="jFlowControl"></span>
			<span class="jFlowControl"></span>
			<span class="jFlowControl"></span>
		</div>

		<section class="jFlowPrev"><div></div></section>
		<section class="jFlowNext"><div></div></section>

		<br />
		<br />

		<article class="box" id="home_featured21">
			<div class="block">
				<h2>Vision</h2>
				<p>
					Nuestra visión es conocer la industria del mercado en red 
					y cuales  son las mejores compañías.
					
					<br />
					@*<a href="#" class="read_more">Read More</a>*@
				</p>
			</div>
			<div class="block">
				<h2>Mission</h2>
				<p>
					Nuestra misión es saber que es un plan de compensación
					y cuales usan las mejores compañias.
					<br />
				</p>
			</div>
			<div class="block last">
				<h2>Purpose</h2>
				<p>
					Nuestro propósito es aprender,hacer y enseñar los basicos
					principios y valores para desarrollar una organización.

					<br />
				</p>
			</div>
			<div class="clear"></div>
		</article>

	</div>
</div>

	<div class="callout">
		<div class="calloutcontainer">
			<div class="container_12">
				<div class="grid">
					<div class="alignleft">
						<h3>Ready to have a debt free and full of time life?... !</h3>
						<p>Join us Here...  </p>
					</div>
					<div class="alignright">
						@{ Html.RenderPartial("_Register", (BusinessLMSWeb.Models.Contact)ViewBag.contact); }
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="calloutoverlay"></div>
			<div class="calloutoverlaybottom"></div>
		</div>
	</div>

	<br />
	<br />

	<div class="main-container"></div>

@section featured {
	<div class="container2">
		<article id="home_featured2">
			<ul>
				<li>
					<div class="imgholder"><a href="http://www.youtube.com/watch?v=MpOZkdJoWa8" data-gal="prettyPhoto[featured]" title="First Featured Title">
						<img src="http://img.youtube.com/vi/MpOZkdJoWa8/1.jpg" width="275" height="145" alt="" /></a></div>
					<h4>What The Numbers Mean</h4>
					<p>La información contenida en este video. Solo tiene un propósito, despertar
					tu curiosidad, captar tu interés y darte información, con datos reales no
					pretendemos convencerte, solo darte información con el fin de que te conviertas
					en estudiante y por ende en un profesional, de una de las industrias de mayor
					potencial en esta era en el mundo entero.</p>
				</li>
				<li>
					<div class="imgholder"><a href="http://www.youtube.com/watch?v=qNNHKdC4lhg" data-gal="prettyPhoto[featured]" title="Second Featured Title">
						<img src="http://img.youtube.com/vi/qNNHKdC4lhg/1.jpg" width="275" height="145" alt="" /></a></div>
					<h4>The Amway Oportunity</h4>
					<p>La industria del mercadeo en red. A la par con la tecnología están
					evolucionando la viva de las personas emprendedoras. Digo emprendedoras
					porque el mercadeo en red, es tan noble que no importa si tienes una profesión
					o no, lo que importa es que lo entiendas, lo inicies y lo termines obteniendo así
					el resultado que deseas.</p>
				</li>
				<li class="last">
					<div class="imgholder"><a href="http://www.youtube.com/watch?v=OZNaL9HASDQ" data-gal="prettyPhoto[featured]" title="Third Featured Title">
						<img src="http://img.youtube.com/vi/OZNaL9HASDQ/1.jpg" width="275" height="145" alt="" /></a></div>
					<h4>Principles of Our Founders</h4>
					<p>La industria del mercadeo en red lleva mas de cien años, en el mundo,
					sin embargo aunque las mejores compañías de mercadeo en red, tienen su
					propio sistema y su plan de compensación. Las empresas mas grandes y los
					distribuidores mas exitosos. Son quien viven sometidos a principios y valores
					por eso han sobrevivido y continuaran creciendo, porque el negocio mas grade
					del mundo es ser honrado.</p>
				</li>
			</ul>
			<br class="clear" />
		</article>
	</div>
}
