@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="main-container">

    <div class="container1">
        
        <div id="mySlides">
            <div id="slide1">
                <a href="http://www.amway.com/start-a-business/become-a-business-owner" target="_blank">
                    <img src="images/Home/slider1.jpg" alt="Become a business owner" />
                </a>
            </div>
            <div id="slide2">
                <a href="http://www.amway.com/start-a-business/your-success-rewarded" target="_blank">
                    <img src="images/Home/slider2.jpg" alt="Your success rewarded" />
                </a>
            </div>
            <div id="slide3">
                <a href="http://www.amway.com/start-a-business/exceptional-products" target="_blank">
                    <img src="images/Home/slider3.jpg" alt="Exceptional products" />
                </a>
            </div>
            <div id="slide4">
                <a href="http://www.amway.com/start-a-business/low-risk-low-cost" target="_blank">
                    <img src="images/Home/slider4.jpg" alt="Low risk low cost" />
                </a>
            </div>
            <div id="slide5">
                <a href="http://www.amway.com/start-a-business/business-support" target="_blank">
                    <img src="images/Home/slider5.jpg" alt="Business support" />
                </a>
            </div>
        </div>

        <div id="myController">
            <span class="jFlowControl"></span>
            <span class="jFlowControl"></span>
            <span class="jFlowControl"></span>
            <span class="jFlowControl"></span>
            <span class="jFlowControl"></span>
        </div>

        <section class="jFlowPrev"><div></div></section>
        <section class="jFlowNext"><div></div></section>

        <br />
        <br />

        <article class="box" id="home_featured21">
            <div class="block">
                <h2>Mission</h2>
                <p>
                    <span style="text-decoration:underline">Hacer</span>
                    <br />
                    En Ibo Virtual nuestra misión es llevar esperanza a todo el mundo.
                    Hoy a través de la web 3.0 podemos a través de un teléfono,
                    inteligente promover un producto o explicarle una oportunidad de
                    negocio a una persona o mil en cualquier parte del mundo.
                    <br />
                    Hace dos años me encontraba en la sala de una casa diciéndole
                    a muchas personas. “La definición de locura es querer tener
                    resultados diferentes haciendo lo mismo.” Mi mente se vacío me fui
                    por un instante, escuche un pensamiento muy claro que decía, y tu,
                    cuantos años llevas haciendo lo mismo.
                    <br />
                    Nuestra misión es enseñarte y acompañarte, en tu camino del éxito
                    pero para que llegues, y coseches trigo del trigo debes sembrar trigo
                    si estas dispuesto a capacitarte, y hacer tu trabajo el éxito será tuyo
                    y nuestra, misión cumplida.
                    <br />
                    <a href="#" class="read_more">Read More</a>
                </p>
            </div>
            <div class="block">
                <h2>Vision</h2>
                <p>
                    <span style="text-decoration:underline">Ser</span>
                    <br />
                    Ibo Virtual, como empresa, tenemos la visión de ayudar a los
                    empresarios independientes, inspirándolos, a que se informen y
                    capaciten. Sabemos que es fácil iniciar un negocio de mercadeo en
                    red. En la mayoría de compañías no se requiere una gran suma de
                    dinero y en la mayoría de sistemas de capacitación, no se le pide
                    al prospecto que tenga experiencia en mercadeo en red y eso claro
                    esta bien, todos trabajamos diferente.
                    <br />
                    Sin embargo, en ibo Virtual la visión es que cumplas tus
                    objetivos. Por esa razón no firmamos personas solo porque están.
                    Emocionadas, con nosotros si quieres obtener los resultados que
                    deseas primero te damos información para que conozcas la industria
                    y cuales son las mejores compañías y que plan de compensación
                    usan, después te damos la oportunidad de trabajar con nosotros.
                    <br />
                    <a href="#" class="read_more">Read More</a>
                </p>
            </div>
            <div class="block last">
                <h2>Purpose</h2>
                <p>
                    <span style="text-decoration:underline">Tener</span>
                    <br />
                    El propósito de Ibo Virtual es ayudarte a terminar lo que empiezas,
                    creando el ambiente para que crezcas basado a tu compromiso y tu
                    creencia. “Alguien dijo que las circunstancias no hacen al hombre
                    pero lo rebelan.” Nuestro propósito no es nada mas ayudarte a
                    solucionar tus problemas presentes, sabemos que la situación que
                    hoy vives solo es un reflejo de los pensamientos que en el pasado
                    haz venido desarrollando.
                    <br />
                    Nuestro propósito es ayudarte a cambiar tus pensamientos, para que
                    siembres hoy las circunstancias que vas a enfrentar mañana. Ibo
                    Virtual no te da el pescado, te enseña a construir la caña para que tu
                    lo pesques.
                    Martin Luther King dijo: “sino tu tienes un propósito por el cual
                    morir, tampoco tienes una razón para vivir.” La mayoría de los seres
                    humanos no han olvidado su propósito, no lo han encontrado. Ibo
                    virtual desea ayudarte aclarar tu visión, cumplir te misión y lograr tu
                    propósito.
                    <br />
                    <a href="#" class="read_more">Read More</a>
                </p>
            </div>
            <div class="clear"></div>
        </article>

    </div>
</div>

    <div class="callout">
        <div class="calloutcontainer">
            <div class="container_12">
                <div class="grid">
                    <div class="alignleft">
                        <h3>Ready to have a debt free and full of time life?... !</h3>
                        <p>Join us Here... @*<a href="@Url.Action("Register","Home")">Register</a>*@ </p>
                    </div>
                    <div class="alignright">
                        @{ Html.RenderPartial("_Register"); }
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="calloutoverlay"></div>
            <div class="calloutoverlaybottom"></div>
        </div>
    </div>

    <br />
    <br />

    <div class="main-container"></div>

@section featured {
    <div class="container2">
        <article id="home_featured2">
            <ul>
                <li>
                    <div class="imgholder"><a href="http://www.youtube.com/watch?v=MpOZkdJoWa8" data-gal="prettyPhoto[featured]" title="First Featured Title">
                        <img src="http://img.youtube.com/vi/MpOZkdJoWa8/1.jpg" width="275" height="145" alt="" /></a></div>
                    <h4>What The Numbers Mean</h4>
                    <p>La información contenida en este video. Solo tiene un propósito, despertar
                    tu curiosidad, captar tu interés y darte información, con datos reales no
                    pretendemos convencerte, solo darte información con el fin de que te conviertas
                    en estudiante y por ende en un profesional, de una de las industrias de mayor
                    potencial en esta era en el mundo entero.</p>
                </li>
                <li>
                    <div class="imgholder"><a href="http://www.youtube.com/watch?v=qNNHKdC4lhg" data-gal="prettyPhoto[featured]" title="Second Featured Title">
                        <img src="http://img.youtube.com/vi/qNNHKdC4lhg/1.jpg" width="275" height="145" alt="" /></a></div>
                    <h4>The Amway Oportunity</h4>
                    <p>La industria del mercadeo en red. A la par con la tecnología están
                    evolucionando la viva de las personas emprendedoras. Digo emprendedoras
                    porque el mercadeo en red, es tan noble que no importa si tienes una profesión
                    o no, lo que importa es que lo entiendas, lo inicies y lo termines obteniendo así
                    el resultado que deseas.</p>
                </li>
                <li class="last">
                    <div class="imgholder"><a href="http://www.youtube.com/watch?v=OZNaL9HASDQ" data-gal="prettyPhoto[featured]" title="Third Featured Title">
                        <img src="http://img.youtube.com/vi/OZNaL9HASDQ/1.jpg" width="275" height="145" alt="" /></a></div>
                    <h4>Principles of Our Founders</h4>
                    <p>La industria del mercadeo en red lleva mas de cien años, en el mundo,
                    sin embargo aunque las mejores compañías de mercadeo en red, tienen su
                    propio sistema y su plan de compensación. Las empresas mas grandes y los
                    distribuidores mas exitosos. Son quien viven sometidos a principios y valores
                    por eso han sobrevivido y continuaran creciendo, porque el negocio mas grade
                    del mundo es ser honrado.</p>
                </li>
            </ul>
            <br class="clear" />
        </article>
    </div>
}
