@model IEnumerable<BusinessLMSWeb.Models.Step>

<nav>

@foreach (var item in Model) {
	<ul class="buttons">
		<li>
			<a href="@Url.Action(item.action,item.controller)"> 
                <span class="ico @item.iconClass" ></span>
                <span class="menu-text">@item.title</span>
                <em></em>
			</a>
		</li>
	</ul>
}
</nav>
