@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="DIB">
	<div class="PT20">
		<iframe width="620" height="337" src="http://www.ustream.tv/embed/recorded/30899159?v=3&amp;wmode=direct" style="border: 0px none transparent;"></iframe>
	</div>
	<div class="PT20">
		<iframe width="620" height="337" src="http://www.ustream.tv/embed/recorded/31227651?v=3&amp;wmode=direct"  style="border: 0px none transparent;"></iframe>	</div></div><div class="PL20 DIB">
	<iframe width="468" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;" src="http://www.ustream.tv/socialstream/13365231"></iframe>
</div><br />
<div class="PT20">
	<a href="http://ustre.am/U4Uf" target="_blank"><img src="~/Images/UstreamLogo.png" /></a>
</div>
