@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="metro-info-icons">
    <a href="#" class="help-link help-link-action" title="Help">Help</a>
    <div  class = "left-columna" > 
        <iframe width="260" height="134" src="http://www.ustream.tv/embed/recorded/30899159?v=3&amp;wmode=direct" style="border: 0px none transparent;">    </iframe></ div>
</div>

 <iframe width="620" height="337" src="http://www.ustream.tv/embed/recorded/31227651?v=3&amp;wmode=direct"  style="border: 0px none transparent;">    </iframe><br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank"></a>


    


