
<div id="info-modal" title="How to build your Dreams" style="overflow:scroll;">
    <iframe src="http://prezi.com/embed/a304c3f165db07ad51da499326fd4af6fe1483c9/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=no&amp;autohide_ctrls=0" width="750" height="530">
    </iframe>
</div>