
<div id="info-modal" title="How to build your Dreams" style="overflow:scroll;">
    10 Network Marketing Recruiting Methods<br />
    <br />
    1- Attend networking meetings such as BNI and your local chamber of commerce.<br />
    <br />
    2- Blogging-- you can get quite a few leads from your blog if you do it right.<br />
    <br />
    3- Social Networking-- Pick two or three sites and work them intensively and network not spam the people there.<br />
    <br />
    4- Squidoo-- no seriously, making high quality squidoo lenses can generate quite a few network marketing leads.<br />
    <br />
    5- Free Reports-- Give away some kind of a free report Offer useful information in it and others will naturally be interested in your network marketing business.<br />
    <br />
    6- Newsletters Start publishing a monthly newsletter, build relationships with your subscribers and some of them will over time express an interest in your business.<br />
    <br />
    7- Ecourses-- I get a lot of leads from these. You can choose a business related topic or a non-business related topic. Host it on either a website or a blog and offer valuable content and people will subscribe to their heart's content.<br />
    <br />
    8- Business Cards- use these to your full advantage by giving them to anyone you can and by leaving them anywhere you can.<br />
    <br />
    9- Videos-- Videos are hot right now and I find that many of my best leads come from my videos.<br />
    <br />
    10- Podcasting-- Podcasting is also a newer method and it works great as well.
    <br />
    <iframe width="640" height="480" src="http://www.youtube.com/embed/8oamqio_lkc" frameborder="0" allowfullscreen></iframe>
</div>