
<div id="info-modal" title=<"How to build your Goals"style="width:770px;height:550px;resize:none">

    <iframe src="http://prezi.com/embed/cn57ne6hrfz2/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=no&amp;autohide_ctrls=0" width="750" height="530"></iframe>
</div>

