<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://businesslms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>businesslms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$businesslms</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BusinessLMSContext" Order="1" Enabled="False">
          <Destination Path="Server=tcp:oxlrzsg2n8.database.windows.net,1433;Database=BusinessLMS;User ID=businesslmsroot@oxlrzsg2n8;Password=Ibovirtual2020;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BusinessLMS.Models.BusinessLMSContext, BusinessLMS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BusinessLMSContext-Web.config Connection String">
      <ParameterValue>Server=tcp:oxlrzsg2n8.database.windows.net,1433;Database=BusinessLMS;User ID=businesslmsroot@oxlrzsg2n8;Password=Ibovirtual2020;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>