
<div id="info-modal" title="How to build your Dreams" style="width:770px;height:550px;resize:none">
     <iframe src="http://prezi.com/embed/tcznh6r2bzxp/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=no&amp;autohide_ctrls=0" width="750" height="530"></iframe>
</div>